.main{
   margin: 0;
   padding: 0;
   background-color: white;
   background-size: cover;
   max-width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

*{
   
    box-sizing: border-box;
}
.heading{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
html{
    scroll-behavior: smooth;
}
.logo{
    max-width: 7%;
    height: auto;
    display: block;
    margin-left: 8vw;
    margin-right: 0px;
}
.navbar{
    font-size: 1.2rem;
}

.navbar a{
    color: white;
    text-decoration: none;
    
}

.navbar a:hover{
    color: rgb(234, 175, 97);
    
}

.navbar ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 3%;     
}

.navbar li{
    padding: 2vw;
    
}


.menu-icon{
   display: none;
   flex-direction: column;
   gap:5px;
   cursor:pointer;
}

.menu-icon span{
    display: block;
    max-width: 25px;
    max-height: 3px;
    border-radius: 2px;
}

button{
    margin-top: 08%;
    margin-right: 1vw;
    background-color: black;
    color: white;
    max-height: 50%;
    width: 10.5rem;
    font-size: 1.25rem;
    border-style:groove;
    border-color: white;

}

button a{
   color: white;
   text-decoration: none;
}

button a:hover{
     color:rgb(234, 175, 97) ;
}

.buttons{
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero_img{
    background-size: cover;
     max-width: 100%;
     height: auto;
     display: block;
}

.hero{
   position: relative;
}

#hero_text{
    color: black;
    
    position: absolute;
    left: 8%;
    top: 7%;
    right: 50%;
    font-size: 5rem;
}
.about-services{
    background-color: rgb(209, 210, 204);
    color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    
}

.about-services img{
    max-width: 50%;
    height: auto;
    display: block;
}


.about-services_content{
    font-size:x-large;
    margin-top: 3%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    max-width: 45%;
}

#about-us{
  padding-right: 3%;
 
}

#services{
   padding-left: 1%;
}

.social_media-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.footer-logo{
     max-width: 15vw;
    height: auto; 
    display: block;
}
.social-media{
    padding-left: 10%;
    
}

.quick-links a{
    text-decoration: none;
    font-size: larger;
    color: white  ;
}

.quick-links a:hover{
    color:rgb(234, 175, 97) ;
}

.quick-links ul{
    list-style-type: none;
    padding:0 ;
    margin: 0;
}

.quick-links li{
    padding-bottom: 15%;
    
}


.footer-icons ul{
    list-style-type: none;
    font-size: larger;
    padding: 0;
    margin: 0;
}

#clock{
   padding-bottom: 10%;
}

@media (max-width:760px) {
   .hero_img{
    max-width: 100%;
   }
   .main{
     max-width: 100%;
   }
}

@media (max-width:400px){
    .hero_img{
        max-width: 100%;
   }

   .main{
     max-width: 100%;
   }
}






.contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 20%;
}

form{
    padding-top: 3%;
    padding-bottom: 10%;
    font-size: x-large;
}

.contact-div{
    padding-top: 5%;
}

textarea{
    resize: vertical;
    max-width: 95%;
    padding: 10px;
    border: 2px solid black ;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
     outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

}

.name-and-number{
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 20px;
}

.submit-button{
    margin-top: 2%;
    max-width: 100%;
    padding: 1%;
    font-size: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    
}

textarea:focus{
    border-color: darkred;
    box-shadow: 0 0 15px darkred; 
}

input{
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus{
    border-color: darkred;
    box-shadow: 0 0 15px darkred;
}




.Book-Now-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
   
}

.Book-Now-content p{
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 4%;
}

.Book-Now-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4%;
    
}

 .booknow-img{
    width: 20vw;
    height: 40vh;
}

figcaption{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: larger;
    transition:all 0.3s ease;
}
   
figure{
    transition:all 0.3s ease;
}

figure:hover{
    transform: scale(1.1);
    border:4px solid rgb(166, 19, 19);
}







